<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<meta name="Keywords" content="网站管理系统" />
	<meta name="Description" content="网站管理系统" />
	<title>网站管理系统-轮播图</title>
	<link rel="stylesheet" type="text/css" href="/static/css/cstFonts/iconfont.css" />
	<!--vue component css-->
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vue-admin.css" />

</head>

<body >
	<div id="app"></div>
	<script data-parent="umd" data-umd="rotation" defer src="/static/js/admin.js" type="text/javascript" charset="utf-8"></script>
	
</body>

</html>