

#  node server Dependency directory

/node_modules

#  node  html Dependency directory
/html/node_modules


/**/*.suo
/**/*.sqlite


# ==============自定义 ==============
# multiModuleSetting
#multiModuleSetting.js

# static view css and js
#src/static/css/view/*.css
